.titulo-formulario {
    text-align: center;
    margin-bottom: 20px;
}

#contactForm {
    width: 100%; /* Altera a largura para 100% */
    max-width: 400px; /* Define uma largura máxima */
    margin: 40px auto; /* Centraliza o formulário */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#66CDAA;
    min-height: 350px; /* Mantém a altura mínima */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

#contactForm input,
#contactForm textarea {
    width: calc(100% - 20px);
    /* Ajusta a largura para evitar que fique grudado */
    padding: 10px;
    margin: 10px 0;
    /* Margem vertical */
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    /* Borda cinza claro quando não está em foco */
}

#contactForm input:focus,
#contactForm textarea:focus {
    border-color: #999;
    /* Cor da borda cinza médio quando está em foco */
    outline: none;
    /* Remove o contorno padrão */
}

#contactForm input::placeholder,
#contactForm textarea::placeholder {
    font-family: sans-serif;
    font-size: 14px;
    color: #aaa;
}

#contactForm textarea {
    resize: none;
    /* Remove o mover da caixa de texto */
}

.botao-enviar {
    display: block;
    /* Faz o botão ser um bloco */
    margin: 20px auto;
    /* Centraliza horizontalmente */
    background-color:#f9f9f9;
    color: rgb(12, 12, 12);
    border-color:#31493c;
    border-radius: 30px;
    border-style: solid;
    cursor: pointer;
    font-size: 13px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    width: 130px;
}

.botao-enviar:hover {
    background-color:#31493c;
    color: rgb(254, 252, 252);
    border-color:#f6f6f6;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
    /*começa escondida*/
}

.enviado {
    font-size: 14px;
    display: none;
    /* Começa escondida */
    margin-top: 10px;
    transition: opacity 0.5s;
    /* Transição suave */
}

#formularioEnviado {
    opacity: 1;
    /* Inicia visível */
    transition: opacity 0.5s;
    /* Transição suave */
    padding: 10px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
    text-align: center;
    /* Centraliza o texto */
}

#formularioEnviado.success {
    background-color: #d4edda;
    /* Fundo verde claro */
    color: black;
    /* Texto preto */
}

#formularioEnviado.error {
    background-color: #f8d7da;
    /* Fundo vermelho claro */
    color: black;
    /* Texto preto */
}

.obrigatorio {
    color: red;
    font-weight: bold;
    margin-bottom: 0;
 
}

.aviso {
    color: red;
    font-size: 13px;
    visibility: hidden;
}

